:root {
  /* PRIMARY */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);

  /* NEUTRAL */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* FONTS */
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", sans-serif;
}

header {
    background-image: url(images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 475px;
    font-family: var(--fraunces);
}

h1 {
    font-size: 2.5rem;
    margin: 30px 0;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: var(--fraunces);
    margin: 20px 0  ;
    font-weight: 900;
    font-size: 2em;
}

h3 {
  color: var(--grayishBlue);
  text-transform: uppercase;
}

h3, h4 {  
  font-family: var(--fraunces);
  font-weight: 900;
}

p {
    font-family: var(--barlow);
    margin: 20px 0;
    color: var(--veryDarkDesaturatedBlue);
    font-weight: 600;
}

button {
  font-family: var(--barlow);
}

span {
  color: var(--grayishBlue);
  font-family: var(--barlow);
}

.graphic-design {
  background-image: url(images/mobile/image-graphic-design.jpg);
  font-family: var(--fraunces);
  background-color: var(--darkModerateCyan);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
}

.photography {
  background-image: url(images/mobile/image-photography.jpg);
  background-color: var(--darkBlue);
  font-family: var(--fraunces);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
}

.graphic-design div {
  padding-top: 280px;
}

.photography div {
  padding-top: 280px;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  margin: 10px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
